.sectionTitle {
    color: white !important;
    font-family: "Press Start 2P", monospace !important;
    font-size: 80px !important;
    font-weight: normal;
    text-align: center;
    text-wrap: nowrap;
  }
  
  .project-title {
    font-size: 62px;
}