.overlayBackground {
  position: fixed;
  top: 0;
  left: 2rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayContent {
  background: #212529;
  max-width: 320px;
  width: 100%;
  padding: 24px;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  position: relative;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}



.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.imageContainer {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}

.projectImage {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.descriptionLine {
  font-size: 0.75rem;
  margin-bottom: 12px;
  line-height: 1.4;
}

.sectionTitle {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

.techList {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.techItem {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.techIcon {
  width: 24px;
  height: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button {
  background: rgb(146, 205, 65);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  padding: 8px 16px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  cursor: pointer;
  color: white;
  box-shadow: rgb(74, 165, 46) 4px -4px 0px 0px inset;
}

.button:hover {
  background-color: rgb(126, 185, 45);
}

/* Retro-styled carousel */
.carouselContainer {
  width: 100%;
  margin: 12px 0;
  position: relative;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 4px;
}

.carousel {
  overflow: hidden;
}

.carouselSlides {
  display: flex;
  height: 150px;
}

.carouselSlide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.carouselImage {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carouselButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.carouselButton {
  background: #e76e55;
  border: none;
  width: 24px;
  height: 24px;
  font-size: 0.75rem;
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 8px;
  color: white;
  box-shadow: #8c2022 2px -2px 0px 0px inset;
}

.carouselButton:hover {
  background-color: #ce372b;
  box-shadow: #8c2022 3px -3px 0px 0px inset;
}

.carouselDots {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.carouselDot {
  background-color: #444;
  border: none;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}

.carouselDotSelected {
  background-color: rgb(146, 205, 65);
}

.projectImageContainer {
  width: 100%;
  height: 150px;
  margin: 12px 0;
  overflow: hidden;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
  border-image-slice: 2;
  border-image-width: 2;
  border-style: solid;
  border-width: 4px;
}

.projectDetailImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
} 